@import 'tailwindcss';

@theme {
  --color-primary: #ff5900;
  --font-display: 'Roboto', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --animate-fade-in-down: fadeInDown 0.5s ease-out;
  --animate-fade-in-up: fadeInUp 0.5s ease-out;
  --animate-fade-in: fadeIn 1s ease-out;

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-ripple: ripple 0.6s linear;

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');

body {
  background-color: #222222;
  color: white;
  font-family: var(--font-body);
}
